//Setting custom BS colors
$theme-colors: (
  "primary": darkcyan,
  "dark": black,
  "danger": #da1414,
);

@import "~bootstrap/scss/bootstrap";

html {
  font-size: 10px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
// Page Layout
#root,
.App {
  height: 100%;
}

#root > .App > div {
  min-height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

a,
a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.sidenav,
.dashboard {
  height: 100%;
}
.sidenav {
  background-color: black;
}
.sidenav a {
  color: #ffff;
}

.sidenav a.active {
  color: #da1414;
}
